@tailwind base;
@tailwind components;
@tailwind utilities;

h1 { 
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    font-weight: 700;

}
h2 { 
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-weight: 700;
}
h3 { 
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 700;

}
h4 { 
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 600;

}
h5 { 
    font-size: 0.975rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 600;
}
h6 { 
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    font-weight: 600;

}


.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    height: 300px;
}
.css-13cymwt-control {
    padding: 6px 3px;
}

.css-t3ipsp-control {
    padding: 6px 3px;
}
    .postbody a{
    color: blue;
    
    }
    .postbody a:hover{
    color: blue;
    text-decoration: underline
    }


   